# Dependencias
node_modules/

# Variables de entorno
.env

# Base de datos local
database/
*.db

# Logs
logs/
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp

# Archivos de desarrollo
.vscode/
.idea/

# Respaldos
backup/